body {
    background: #0f0f17;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #d6d6ff;
}

/* HEADER */
.header {
    background: #b7c4ff;
    color: #1b1b3a;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.back-arrow {
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
}

.header-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-title {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 26px;
    font-family: "Times New Roman", serif;
}

.info-icon {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

/* MAIN CONTENT */
.content {
    padding: 20px;
}

.label-title {
    display: block;
    margin: 20px 0 5px;
    font-size: 18px;
    font-family: "Times New Roman", serif;
}

/* BOX STYLING */
.box {
    border: 1px solid #6c6c99;
    border-radius: 12px;
    padding: 10px;
    background: #1a1a21;
}

.textbox {
    width: 100%;
    height: 130px;
    background: none;
    border: none;
    outline: none;
    color: #c4c4ff;
    font-size: 16px;
    resize: none;
    font-family: "Poppins", sans-serif;
}

/* BUTTON ROW */
.button-row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.circle-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #b7c4ff;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.main-btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #b7c4ff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* SETTINGS TITLE */
.settings-title {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    font-family: "Times New Roman", serif;
}

/* INPUTS */
.input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #c4c4ff;
    font-size: 17px;
    padding: 8px;
}

.select {
    width: 100%;
       background: #1d1d24;

    border: none;
    color: #c4c4ff;
    font-size: 18px;
    outline: none;
}

/* TRAVEL PATH */
.travel-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-btn {
    background: #b7c4ff;
    color: #000;
    padding: 12px 18px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* DURATION ROW */
.duration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.days, .dollar {
    font-size: 18px;
}

/* HOME ICON */
.home-icon {
    font-size: 38px;
    text-align: center;
    margin: 25px 0;
}
